/* место для вашего кода */
/* Шапка grid 3 колонки*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  font-size: 18px;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  width: 389px;
  list-style: circle;
  justify-content: space-between;
  line-height: 100%;
}

.header__links-list-item_no-bullit {
  list-style: none;
  border-bottom: none;
}

.header__links-list-item {
  border-bottom: 1px solid black;
}

.header__logo {
  display: flex;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 240px;
    /* Исправлено, убрано фиксированное значение высоты */
  line-height: 24.3px;
  font-size: 18px;
  justify-self: end;
  font-style: normal;
  justify-content: space-evenly;
}

.address__link {
  /* Исправлено, убрано фиксированное значение высоты для ссылки */
  text-underline-position: under;
}

.address__street {
  padding-left: 1px;
}

/* вся секция главная фон не смысловой через background-image*/
.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  /* Исправлено, добавлено центрирование фонового изображения*/
  background-position: center;
  color: white;
}

/* полупрозрачный блок поверх секции работает и без z-index*/
.overlay_image {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  /*width: 100%;
    height: 100%;
    z-index: 2;  */
}

/* заголовок */
.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 0.3em;
  padding: 165px 50px 98px;
}

/* выравнивания строк текста и превращения их в блочный элемент */

.aligned-text_center {
  display: block;
  text-align: center;
  margin: 22px 0 21px 30px;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* класс для управления межбуквенным расстоянием в местах, где есть эти акценты */
.letter-spacing-extended {
  letter-spacing: 30px;
}

/* контейнер для подзаголовка и кнопки */
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Исправлено, убран отрицательный отступ*/
  padding: 8px 50px 50px 50px;
}
/* текст подзаголовка */
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.7px;
}

/* кнопка «Сделать ставку» */
.bet-button {
  min-height: 51px;
  min-width: 256px;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: thin;
  color: white;
}

/* Секция лотов */

.lots {
  padding: 184px 24px 120px;
}

/* В секциях лоты и об аукционе одинаковые стили заголовков*/

.section__title {
  /* Исправлено, добавлено семейство шрифтов*/
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.lots .section__title {
  margin-left: 40px;
  margin-bottom: 30px;
}

/* Лоты через список карточек */

.lots__chain {
  display: flex;
  position: relative;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  flex-grow: 1;
}

.lots__chain-item {
  width: 334px;
  min-height: 596px;
  /*    list-style-type: none;  */
  box-sizing: border-box;
}

.lots__link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 48px 40px;
  color: #fff;
}

/* Класс Для карточек с картинками лотов для тега img
.card__image-lot {
  object-fit: cover;
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0;
  left: 0;
} */

/* Исправлено. Класс для карточки с фильмом */
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  height: 100%;
  background-position: center center;
  background-size: cover;
}

/* Исправлено. Класс для карточки с книгой */
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  height: 100%;
  background-position: center center;
  background-size: cover;
}

/* Исправлено. Класс для карточки с картиной */
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.card__title {
  /* Исправлено, добавлено семейство шрифтов*/
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 0%;
  text-underline-offset: 3px;
  /*  letter-spacing: 0%;
    text-decoration-style: solid;
    text-decoration-offset: 0%;    лишние стили из макета*/
}

.card__text {
  /* Исправлено, добавлено семейство шрифтов*/
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  /*  line-height: 120%;
    font-weight: 400;
    letter-spacing: 0%;   лишние стили из макета*/
}

.lots__link-more {
  display: flex;
  font-size: 20px;
  /* line-height: 100%;   лишние стили из макета*/
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid #000;
  width: 192px;
}

/* Серция об аукционе грид сетка 2x2 */

.about {
  display: grid;
  /*  Исправлен отрицательный отступ */
  padding: 9px 24px 180px;
  grid-template-columns: 358px 1fr;
}

/* Исправлено. Опечатка в наименовании класса */
.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  margin-top: 24px;
  margin-left: 47px;
  border-radius: 50%;
   /* Исправлен отрицательный отступ 
  justify-self: center;*/
}

.about__logo-image {
  max-height: 114px;
  max-width: 148px;
  align-self: center;
  margin-left: 46.6px;
  margin-top: 2px;
}

.about__title {
  margin-top: 34px;
  margin-left: 1px;
  align-self: center;
}

/* Исправлен, отрицательный отступ */
.about__column {
  display: flex;
  margin-top: 8px;
  margin-left: 1px;
  flex-direction: column;
  gap: 24px;
  grid-row: 2/3;
  grid-column: 2/3;
}

.about__text {
  /* Исправлено, добавлено семейство шрифтов*/
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Добавлено 2 класса для выравнивания текста вместо тега <br> */
.about__text-auction {
  white-space: break-spaces;
}

.about__text-lots {
  white-space: pre-line;
}

/* Подвал грид контейнер */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  /* Исправлено. "height: 180px;" заменено на margin */
  margin-bottom: 80px;
  margin-top: 1px;
}

/* Блок адреса */
.footer__address {
  justify-self: center;
  width: 264.57px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  /* Исправлено, добавлено семейство шрифтов*/
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 48px;
  margin-left: 28px;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  box-sizing: border-box;
  max-width: 48px;
  max-height: 48px;
}
